flows_PLC_DeviceManager.json
[
    {
        "id": "a8a2d99010b402ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d71a3792ef188d3f",
        "type": "comment",
        "z": "a8a2d99010b402ae",
        "name": "",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1167e7b59be5d4b",
        "type": "debug",
        "z": "a8a2d99010b402ae",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "4531dd8b970aa8a5",
        "type": "inject",
        "z": "a8a2d99010b402ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "c1167e7b59be5d4b"
            ]
        ]
    }
]