flows_PLC_DeviceManager.json
[
    {
        "id": "a8a2d99010b402ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d71a3792ef188d3f",
        "type": "comment",
        "z": "a8a2d99010b402ae",
        "name": "",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1167e7b59be5d4b",
        "type": "debug",
        "z": "a8a2d99010b402ae",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "756f9d7f05085e3d",
        "type": "status",
        "z": "a8a2d99010b402ae",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cafaa6c3477b31fe",
        "type": "function",
        "z": "a8a2d99010b402ae",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e7d82207bcc75bdb",
        "type": "link call",
        "z": "a8a2d99010b402ae",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 170,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "469217b9e7e4e773",
        "type": "inject",
        "z": "a8a2d99010b402ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    }
]